<%- include('../../partials/head'); %>



        <!-- Page Content  -->
        <div id="content-page" class="content-page">
        <div class="container-fluid">
            
            <div class="row">
                <div class="col-12">
                    <div class="iq-card p-4">
                        <h5>Filters</h5>
                        <a class="btn btn-primary float-right" style="color: #fff" data-toggle="modal" data-target="#filterbranchModalLong">Filter by branch</a>
                        <br/>
                        <p>Applied filter: <span id="appliedfilter"></span></p>
            
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-sm-12 col-lg-12">
                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Daily</h4>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <div id="package-day-chart"></div>
                        </div>
                    </div>
                   
                   
                   
                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Monthly</h4>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <div id="package-month-chart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-12">
                   
                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Weekly</h4>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <div id="package-week-chart"></div>
                        </div>
                    </div>
                   
                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Yearly</h4>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <div id="package-year-chart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-12">
                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Package Requests - Prepaid & Pay on collect </h4>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <div id="prepaidpostpaid-column"></div>
                        </div>
                   </div>
                    
                </div>
            </div>
        </div>
        </div>
   

        <div class="modal" id="filterbranchModalLong" tabindex="-1" role="dialog" aria-labelledby="filterbranchModalLongTitle">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="filterbranchModalLongTitle">Filter by Branch</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form id="branchfilter" >
                    <div class="">
                        <p>Please select source branch below for filtering:</p>
                       
                        <div class="form-group">
                           <label>Select branch</label>
                           <select name="sourcebranch"  id="name" class="form-control mb-3">
                              <option selected=""></option>
                              <option value="kingston">kingston</option>
                              <option value="may pen">may pen</option>
                           </select>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                       
                     </div>

                  </form>

                  <form id="branchfilter2" >
                    <div class="">
                        <p>Please select destination branch below for filtering:</p>
                       
                        <div class="form-group">
                           <label>Select branch</label>
                           <select name="destinationbranch"  id="destinationbranch" class="form-control mb-3">
                              <option selected=""></option>
                              <option value="kingston">kingston</option>
                              <option value="may pen">may pen</option>
                           </select>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                       
                     </div>

                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
              </div>
            </div>
          </div>

<%- include('../../partials/footer'); %>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/js/reportscripts/charthelper.js"></script>

<script src="/js/reportscripts/chart-package.js"></script>

