
      <!-- Wrapper Start -->
      <div class="wrapper">
        <!-- Sidebar  -->
        <div class="iq-sidebar">
           <div class="iq-navbar-logo d-flex justify-content-between">
              <a href="index.html" class="header-logo">
              <img src="https://speedzmastershipping.com/main/img/logo.png" class="img-fluid rounded" alt="">
              <!-- <span>SpeedCarrier</span> -->
              </a>
              <div class="iq-menu-bt align-self-center">
                 <div class="wrapper-menu">
                    <div class="main-circle"><i class="ri-menu-line"></i></div>
                    <div class="hover-circle"><i class="ri-close-fill"></i></div>
                 </div>
              </div>
           </div>
           <div id="sidebar-scrollbar">
              <nav class="iq-sidebar-menu">
                 <ul id="iq-sidebar-toggle" class="iq-menu">
                    <li class="active">
                       <a href="#dashboard" class="iq-waves-effect" data-toggle="collapse" aria-expanded="true"><span class="ripple rippleEffect"></span><i class="las la-home iq-arrow-left"></i><span>Dashboard</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                       <ul id="dashboard" class="iq-submenu collapse show" data-parent="#iq-sidebar-toggle">
                          <li class="active"><a href="/dashbord"><i class="las la-laptop-code"></i>Account Dashboard</a></li>
                          
                       </ul>
                    </li>
                  
                    
                    <li>
                       <a href="#deliveryinfo" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false"><span class="ripple rippleEffect"></span><i class="las la-user-tie iq-arrow-left"></i><span>Packages</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                       <ul id="deliveryinfo" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle" style="">
                          <li><a href="/dropoff/view"><i class="las la-plus-circle"></i>Drop Offs</a></li>
                          <li><a href="/package/view"><i class="las la-th-list"></i>Packages</a></li>
                          <li><a href="/collection/view"><i class="las la-th-list"></i>Collections</a></li>

                       </ul>
                    </li>
                    <li>
                     <a href="" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false"><span class="ripple rippleEffect"></span><i class="las la-user-tie iq-arrow-left"></i><span>Transactions</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                     
                  </li>
              
                    <li>
                       <a href="#charts" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-pie-chart-box-line iq-arrow-left"></i><span>Reports</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                       <ul id="charts" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                         
                          <li><a href="chart-apex.html"><i class="ri-folder-chart-2-line"></i>Sales</a></li>
                       </ul>
                    </li>
                  
                 </ul>
              </nav>
              <div class="p-3"></div>
           </div>
        </div>